<div class="container">
    <h1>Create a new sample</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputName">Name:</label>

            <div class="controls">
                <input type="text" id="inputName" ng-model="sample.name" placeholder="Name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputData">Data:</label>

            <div class="controls">
                <input type="text" id="inputData" ng-model="sample.data" placeholder="Data"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="createNewSample()" class="btn btn-small btn-primary">create new sample</a>
            </div>
        </div>
    </form>
</div>
