<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">120</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mobidics?serverTimezone=GMT</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <mapping class="org.mobidics.model.User"/>
        <mapping class="org.mobidics.model.MethodGerman"/>
        <mapping class="org.mobidics.model.University"/>
        <mapping class="org.mobidics.model.Faculty"/>

        <mapping resource="named-queries.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
